
* {
  /* font-family: "Montserrat"; */
}
:root {

}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: white;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: none;
}
